<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Finstagram</title>
  </head>
  <body>
    <div class="heading">
      <h1>Finstagram</h1>>
    </div>

    <div class="mid-Page">
      <h3>Welcome to Finstagram</h3>
      <h3>The newest social media app to interact with your friends</h3>
    </div>

    <div class="button-area">
      <h2>Get Started Below</h2>
      <button href='/login.html' type="button" name="button" class="login-button">Login</button>
      <button href='/register.html' type="button" name="button" class="register-button">Register</button>
    </div>

  </body>
</html>
